<%- include('header') %>
  <body>
    <div class="box" id="heading">
      <h1 style="text-transform: capitalize;"><%= listTitle %></h1>
    </div>
    <div class="box">

        <% for( let i = 0; i < newListItems.length; i++ ) { %>
          <div class="item">
            <input type="checkbox">
            <p> <%= newListItems[i] %> </p>
          </div>
        <% } %>
     
      <form action="/" method="post" class="form__section">
        <input type="text" name="newItem" class="form__input" placeholder="nova tarefa"/>
        <button type="submit" name="list" value=<%= listTitle %> class="btn-Add"><i class="bi bi-plus"></i></button>
      </form>
    </div>
<%- include('footer') %>